<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated library -->
      <package
            uri="http://org.emf.persistence"
            class="library.LibraryPackage"
            genModel="library.genmodel"/>
   </extension>

</plugin>
